In [4]:
print("Twinkle, Twinkle, little star,\n\tHow I wonder what you are!,\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, Twinkle, little star,
	How I wonder what you are!,
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [5]:
import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [7]:

import datetime
print(datetime.datetime.now())

2023-11-05 00:51:28.830109

In [8]:
import math 
r= float(input("Enter radious :"))
area= math.pi *r**2
print(area)

Enter radious :1.1
3.8013271108436504

In [11]:
first_name=input("Enter first name :")
last_name=input("Enter last name :")
print(last_name,"",first_name)

Enter first name :Mariam
Enter last name :Mohammed
Mohammed  Mariam

In [14]:
inp=input("Enter a seq :")
number = inp.split(',')
print("list :",list(number))
print("tuple :",tuple(number))

Enter a seq :3, 5, 7, 23
list : ['3', ' 5', ' 7', ' 23']
tuple : ('3', ' 5', ' 7', ' 23')

In [17]:
filename=input("file name :")
x="."
if x in filename :
    parts = filename.split('.')
    print(parts[1])

file name :abc.java
java

In [18]:
color_list = ["Red","Green","White" ,"Black"]
print ("first color :",color_list[0])
print ("second color :",color_list[-1])

first color : Red
second color : Black

In [22]:
exam_st_date = (11, 12, 2014)
print("The examination will start from : %i / %i / %i" % exam_st_date)

The examination will start from : 11 / 12 / 2014

In [31]:
n=int(input())
nn=str(n)+str(n)
nn=int(nn)
nnn=str(n)+str(n)+str(n)
nnn=int(nnn)

print(n+nn+nnn)

5
615

In [41]:
import calendar
year=2023
mo=11
print(calendar.month(year,mo))

   November 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [42]:
print("a string that you don't have to escape\nThis\nis a ....... multi-line\nheredoc string --------> example")

a string that you don't have to escape
This
is a ....... multi-line
heredoc string --------> example

In [47]:
from datetime import date
date1 = date(2014, 7, 2)
date2 = date(2014, 7, 11)
cal=(date2 - date1).days
print(cal)

9

In [49]:
import math
vol=(4/3) * math.pi * 6**3
print(vol)

904.7786842338603

In [51]:
n= int(input())
if n <= 17 :
    print(17-n)
else :
    print(2*(n-17))

18
2

In [52]:
n1= int(input())
n2= int(input())
n3= int(input())
if n1 != n2 :
    print(n1+n2+n3)
else :
    print(3*(n1+n2+n3))

5
5
5
45

In [56]:
st=input()

if st[0]=="I" and st[1]=='s':
    print(st)
else :
    print("Is"+st)

Array
IsArray

In [58]:
n=int(input())
s=input()
print(n*s)

3
.py
.py.py.py

In [59]:
n=int(input())
if n%2==0 :
    print("even")
else :
    print("odd")

1
odd

In [70]:
st=[1, 2, 4, 4, 3, 4, 5, 4, 6]
count = st.count(4)
print("The number 4 in the list:", count)

The number 4 in the list: 4

In [73]:
n=int(input())
st=input()
if len(st)>=2 :
    print(n*(st[0]+st[1]))
else :
    print(n*st)

2
km
kmkm

In [75]:
s=input()
vowel="aeiouAEIOU" 
if s in vowel :
    print("true")
else :
    print("false")

A
true

In [76]:
n=int(input())
group=[1, 5, 8, 3]
if n in group :
    print("true")
else :
    print("false")

5
true

In [80]:
list=[1, 5, 12, 2]
result=""
for element in list:
        result += str(element)
print(result)

15122

In [82]:
n = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
for element in n :
    if element %2 ==0:
        print(element)
    elif element==237 :
        print(element)
        break

386
462
418
344
236
566
978
328
162
758
918
237

In [83]:
l1 = set(["White", "Black", "Red"])
l2 = set(["Red", "Green"])
print(l1-l2)

{'White', 'Black'}

In [84]:
b=3
h=4
print(" the area is :",0.5*b*h)

 the area is : 6.0

In [85]:
import math
n1= int(input())
n2= int(input())
print(math.gcd(n1,n2))

336
360
24

In [86]:
import math
n1= int(input())
n2= int(input())
print(math.lcm(n1,n2))

336
360
5040

In [87]:
n1= int(input())
n2= int(input())
n3= int(input())
if n1==n2 or n2==n3 or n1==n3 :
    print("ZERO")
else :
    print(n1+n2+n3)

2
3
2
ZERO

In [88]:
n1= int(input())
n2= int(input())
s=n1+n2
if s>=15 and s<=20 :
    print("20")
else :
    print(s)

2
15
20

In [90]:
n1= int(input())
n2= int(input())
s=n1+n2
diff=n1-n2
if n1==n2 or s==5 or diff==5 :
    print("true")

5
5
true

In [91]:
x= int(input())
y= int(input())
print( (x + y) * (x + y))

4
3
49

In [93]:
x1 = float(input("Enter x1): "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))
distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
print(distance)

Enter x1): 15
Enter y1: 5
Enter x2: 15
Enter y2: 20
15.0

In [95]:

import os.path
print(os.path.isfile('main.txt'))

False